.top{
	margin: auto;
	width: 100%;
	text-align: center;
	border: 1px solid #5EB750;
	color: #ffffff;
	background-color: #5EB750;
	padding: 10px;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /*Safari*/
  position: sticky;
  top: 0;
}
ul.navbar li {
  float: left;
}
ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.navbar li a:hover {
  background-color: #111000;
  color: white;
  text-decoration: none;
}
.active {
  background-color: #5EB750;
  text-decoration: none;
}
