body{
	background-color:#4CDAC9;
}
.top{
	margin: auto;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	color: #ffffff;
	background-color: #99373B;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.box{
	margin-bottom: 10px;
}
.box1{
	margin: auto;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	color: #ffffff;
	background-color: #C5454C;
}
.box2{
	margin: auto;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	color: #ffffff;
	background-color: #C5454C;
}
.box3{
	margin: auto;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	color: #ffffff;
	background-color: #C5454C;
}
.box4{
	margin: auto;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	color: #ffffff;
	background-color: #C5454C;
}
.box5{
	margin: auto;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	color: #ffffff;
	background-color: #C5454C;
}	
.box6{
	margin: auto;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	color: #ffffff;
	background-color: #C5454C;
}	
canvas {
	display: block;
	position: relative;
	zindex: 1;
	pointer-events: none;
}
#content {
	max-width: 500px;
	margin: 0 auto; 
	position: absolute;
}
* {
	box-sizing: border-box
}
.button{
	background-color: Transparent;
   	background-repeat:no-repeat;
   	border: none;
   	cursor:pointer;
   	overflow: hidden;
}
.tab {
	float: left;
	width: 20%;
	height: 300px;
}
.tab button {
	display: block;
	background-color: #f1f1f1;
	color: black;
	padding: 10px 10px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 12px;
}
.tab button:hover {
	background-color: #ddd;
}
.tab button.active {
	background-color: #ccc;
}
.tabcontent {
	float: left;
	padding: 0px 12px;
	width: 80%;
	border-left: none;
	height: 300px;
}
